/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #000; color:#fff; text-shadow: none;}
::selection { background:#000; color:#fff; text-shadow: none;} 
body 
{
	font-size:12pt;
	font-family: "Times New Roman", Georgia, Serif;
}
h1 
{
	font-size:175%;
}
h2 
{
	font-size:150%;
}
h3
{
	font-size:125%;
}
p 
{
	font-size:100%;
}